* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: white;
}


.content_invite {
    margin: auto;
    min-height: 90vh;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    flex-direction: column;

}

.text_small {
    line-height: 2;
}

.referral-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 0 0 0;
}

.shearLinks {
    display: flex;
    width: 100%;
}

.input_invite {
    width: 80%;
    height: 40px;
    outline: none;
    border-radius: 5px;
    border: 0;
    padding-left: 1rem;
    font-size: 16px;
    margin-left: auto;
}

.share-btn {
    background-color: #037384;
    border: none;
    color: white;
    margin-left: 1rem;
    height: 40px;
    font-weight: 600;
    width: 120px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.copy {
    font-size: 16px;
}

.all_earn_count {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.money-info {
    margin: 10px 0;
    padding: 1rem;
    text-wrap: wrap;
    align-items: center;
    border-radius: 22px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 310px;
    box-shadow: 0px 5px 3px rgba(237, 235, 235, 0.937);
    background-color: rgba(87, 85, 83, 0.34);
}

.money-info p {
    width: 100%;
    text-align: start;
    margin: 1rem 0;
}

.money-info button {
    padding: .6rem;
    background-color: #004f68c4;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

.levels {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem 0 1rem 2rem;
    width: min-content;
}


.level {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 140px;
    margin: 1rem .5rem .5rem .5rem;
    color: black;
    text-align: center;
    justify-content: space-between;
    border-right: 12px solid #282626;
    border-top-right-radius: 50px;
    line-height: 1.5;

}

.ll {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.level_number {
    font-weight: bold;

}

.numberLevels {
    font-size: 22px;
    font-weight: bold;
}

.profile-commission {
    background-color: rgba(87, 85, 83, 0.399);
    border-radius: 2px;
    padding: 1rem;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: .8rem;
    border-top-left-radius: 22px;
    border-left: 12px solid #005160;

}

.profile {
    display: flex;
    margin: .5rem 0;
}

.Commission_name {
    font-size: 16px;
    font-weight: bold;

}

.Commission_number {
    font-weight: bolder;
    margin-left: .4rem;
    font-size: 20px;
    color: #0e0e0ec4;
}

.commission {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

